# Dependencies
node_modules/

# Expo
.expo/
.expo-shared/

# Environment variables
.env
.env.local
.env.production
aquasense-uj-firebase-adminsdk-fbsvc-e269e7c364.json
google-servicess.json

# Android Studio
.idea/

# Build outputs
dist/
build/

# Android
android/app/build/
android/build/

# iOS
ios/build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Temp Files
supabase/.temp/